* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.top-section h1 {
  font-weight: 76.25rem;
  font-size: 4rem;
  line-height: 97.3%;
  margin: 0;
  max-width: 305px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.top-section-wrapper {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  overflow: hidden;
}

.top-section {
  color: white;
  padding-top: 100px;
  padding-bottom: 139px;
  max-width: 1066px;
  margin: 0 auto;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.intro-buttons {
  margin-bottom: 70px;
}

.intro-buttons .btn--primary {
  margin-bottom: 1rem;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 71px;
  font-weight: 600;
  font-size: 1.125rem;
  display: inline-block;
}

.btn--primary {
  background-color: #475aff;
  border: 2px solid #475aff;
  transition: background-color .3s ease-out, border .3s ease-out;
}

.btn--primary:hover {
  background-color: #2E04E2;
  border: 2px solid #2E04E2;
}

.btn--outline {
  background: transparent;
  border: 2px solid white;
}

.btn--outline:hover {
  background: white;
  color: #475aff;
  transition: background-color .3s ease-out, color .3s ease-out;
}

.utility-mr {
  margin-right: 10px;
}

.intro-call-out-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.intro-call-out-box {
  border: 1px rgba(255, 255, 255, 0.24) solid;
  padding: 33px 25px;
}

.intro-call-out-box h2 {
  margin: 31px 0 3px 0;
  font-size: 1.5rem;
}

.intro-call-out-box p {
  margin: 0;
  font-size: 1.0625rem;
}

.page-section {
  background-color: #fff;
  padding: 70px 16px;
}

.page-section-inner {
  margin: 0 auto;
  max-width: 1066px;
}

.page-section-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.pet-filter p,
.pet-filter button {
  color: #9f9f9f;
  font-size: 1.15rem;
  font-family: "Source Sans 3", sans-serif;
}

.pet-filter button {
  border: none;
  background: none;
}

.list-of-pets {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 28px;
}

.pet-card {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 29px 21px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.625rem;
  font-weight: 600;
}

.pet-description {
  margin: 0 0 1rem 0;
  color: #626262;
  line-height: 150%;
}

.pet-age {
  color: #a2a2a2;
  font-size: 0.85rem;
  margin: 0;
}

.site-footer p {
  text-align: center;
  color: #a6a7a6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

@media only screen and (min-width: 500px) {
  .intro-call-out-grid {
    grid-template-columns: 1fr 1fr;
  }

  .intro-buttons .btn--primary {
    margin-bottom: 1rem;
  }

  .list-of-pets {
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
  }

  .top-section {
    padding-top: 139px;
  }

  .top-section h1 {
    font-size: 6.25rem;
    max-width: 525px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .page-section-title {
    font-size: 5.31rem;
  }

  .pet-filter p,
  .pet-filter button {
    color: #9f9f9f;
    font-size: 1.375rem;
    font-family: "Source Sans 3", sans-serif;
}
}

@media only screen and (min-width: 768px) {
  .pet-card {
    grid-template-columns: 165px 1fr;
  }

  .page-section {
    padding: 130px 16px;
  }
}

@media only screen and (min-width: 992px) {
  .intro-call-out-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0;
  }
}

/* background circles */

.circle {
  width: 617px;
  height: 617px;
  background: #d660ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  right: -200px;
  top: 62px;
}

.circle-2 {
  position: absolute;
  width: 617px;
  height: 617px;
  left: 67px;
  top: -450px;
  background: #6079ff;
  filter: blur(150px);
}
