* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.top-section h1 {
  font-weight: 76.25rem;
  font-size: 100px;
  line-height: 97.3%;
  margin: 0;
  max-width: 525px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.top-section-wrapper {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  overflow: hidden;
}

.top-section {
  color: white;
  padding-top: 139px;
  padding-bottom: 139px;
  max-width: 1066px;
  margin: 0 auto;
}

.actual-top-content {
    z-index: 2;
    position: relative;
}

.intro-buttons {
  margin-bottom: 129px;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 71px;
  font-weight: 600;
  font-size: 1.125rem;
  display: inline-block;
}

.btn--primary {
  background-color: #475aff;
  border: 2px solid #475aff;
}

.btn--outline {
  background: transparent;
  border: 2px solid white;
}

.utility-mr {
  margin-right: 10px;
}

.intro-call-out-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.intro-call-out-box {
  border: 1px rgba(255, 255, 255, 0.24) solid;
  padding: 33px 25px;
}

.intro-call-out-box h2 {
  margin: 31px 0 3px 0;
  font-size: 1.5rem;
}

.intro-call-out-box p {
  margin: 0;
  font-size: 1.0625rem;
}

@media only screen and (min-width: 500px) {
  .intro-call-out-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .intro-call-out-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0;
  }
}

.circle {
    width: 617px;
    height: 617px;
    background: #d660ff;
    opacity: .85;
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;
    right: -200px;
    top: 62px;
}

.circle-2 {
    position: absolute;
    width: 617px;
    height: 617px;
    left: 67px;
    top: -450px;
    background: #6079FF;
    filter: blur(150px);
}
