* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.top-section-wrapper {
    background-color: #001D37;
    padding-left: 16px;
    padding-right: 16px;
}

.top-section {
    color: white;
    padding-top: 139px;
    padding-bottom: 139px;
    max-width: 1066px;
    margin: 0 auto;
}

.btn {
    color: white;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 71px;
}

.btn--primary {
    background-color: #475AFF;
    border: 2px solid #475AFF;
}

.btn--outline {
    background: transparent;
    border: 2px solid white;
}

.utility-mr {
    margin-right: 10px;
}
